
$background:#282a36;
$current:   #44475a;
$selection: #44475a;
$foreground:#f8f8f2;
$comment:   #6272a4;
$faded:     #bcc2cd;
$cyan:      #8be9fd;
$green:     #50fa7b;
$orange:    #ffb86c;
$pink:      #ff79c6;
$purple:    #bd93f9;
$red:       #ff5555;
$yellow:    #f1fa8c;

@font-face {
  font-family: 'AVENIRNEXTLTPRO';
  src: url(fonts/AvenirNextLTPro-Regular.woff) format('woff')
  , url(fonts/AvenirNextLTPro-Regular.woff2) format('woff2');
  
  

}

body{
  //font-family: 'Baloo 2', cursive;
  margin: 0;
  h1,h2,h3,p{
    color: white;
    font-family:  'AVENIRNEXTLTPRO';
    font-weight: lighter;
    line-height: 1.5rem;

            }
  h3{
    font-size: .9rem;
    display: block;
    //float: up;
    padding-left: 3rem;
    padding-top:.5%;
    padding-bottom:.5%;
    margin:0 auto;
  }
  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 43%;
  }
  .button{
    margin-left: 5%;
    padding:0 3%;
    border-radius: 100px;
    background-color:$purple;
    line-height: 2rem;
    font-size: 1rem;
    color: white;
    height: 3rem;
    width:10rem;
    border:0;
  }
  .sec1{
    padding: 5%;
    background-color: $cyan;
  }
  .sec2{
    padding: 3%;
    background-color: $red;
  }
  .fixed{
    padding: 6%;
    padding-top: 2%;
    height: 100%;
    right: 60%;
  //  bottom: 0%;
    border: 0 auto;
    background-color: $background;
  }
}
    @media (min-width:600px){
      body{
    height: 100%;
    display: grid;
    margin: 0;
    grid-template-columns: 40% 60%;
    .fixed{
      grid-column: 1;
      position: fixed;
    }
    .sections{
      grid-column: 2;
      display: grid;
      grid-template-rows: 30rem 30rem 30rem;
      .sec1{
        grid-row:1;
        }
      .sec2{
        grid-row:2;
    }
      }
        }
                     }
@media(min-width:100px) and (max-width:600px) {
  body{
    display:flex;
    flex-direction: column;
    .sections{
      display:flex;
      flex-direction: column;
      img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 43%;
      }
    }
  }
}
