
$background:#282a36;
$current:   #44475a;
$selection: #44475a;
$foreground:#f8f8f2;
$comment:   #6272a4;
$faded:     #bcc2cd;
$cyan:      #8be9fd;
$green:     #50fa7b;
$orange:    #ffb86c;
$pink:      #ff79c6;
$purple:    #bd93f9;
$red:       #ff5555;
$yellow:    #f1fa8c;

$colors:(
  red: #9D1E1F,
  blue:#242F45,
  background-color:#FFFFFF,
  yellow:#FFC083,
  grey:#8F908F
);

@font-face {
  font-family: 'AVENIRNEXTLTPRO';
  src: url(../fonts/AvenirNextLTPro-Regular.woff) format('woff')
  , url(../fonts/AvenirNextLTPro-Regular.woff2) format('woff2')
  ,url(../fonts/ARBFONTS-DINARABIC-BOLD.TTF)   
  ,url(fonts/AVENIRNEXTLTPRO-BOLD.OTF);
  
  

}
*{

  box-sizing: border-box;
}
body{
  width: 100vw;
  max-width: 100%;
  padding:0;
  //font-family: 'Baloo 2', cursive;
  margin: 0 ;
  h1,h2,h3,p{
    color: white;
    font-family:  'AVENIRNEXTLTPRO';
    //font-weight: lighter;
    line-height: 1.4em;


            }
  h1{
    font-size: 2.5em;
    
    font-weight: bold;
    //padding-left: 3rem;
    padding-top:.5%;
    padding-bottom:.5%;
    margin:0 ;
  }
  
  .button{
    margin-left: 5%;
    padding:2% 5%;
    margin: 2%;
    border-radius: 100px;
    background-color:$purple;
      line-height: 4rem;
    font-size: 1.4em;
    color: white;
    height: 5rem;
    
    width:10rem;
    border:0;
    
  }
  a:link{
    font-style: normal;
    text-decoration: none;
    height: 3rem;
    
  }
  display: grid;
    
    grid-template-columns: 40vw 60vw;
   // grid-column-gap: 0;
    
      .fixed{
        position: fixed;
        position: -webkit-sticky;
        grid-column: 1;
      left: 0;
        padding:3%;
        height: 100vh;
      width: 40vw;
      max-width: 40%;
      background-color: #282a36;
        
      
       
      }
    
    .sections{
      
      grid-column: 2;
      display: grid;
      width: 60vw;
      img{
        display: block;
        margin:0;
        width: 100%;
        height: auto;
      }
      grid-template-rows: repeat(5 , 30fr);
      .sec1{
        grid-row:1;
        }
      .sec2{
        grid-row:2;
    }
    .sec3{
      grid-row:3;
  }
  .sec4{
    grid-row:4;
}
.sec5{
  grid-row:5;
}
      }
  .sec1, .sec2,.sec3,.sec4,.sec5{
    margin:0;
    //width:100%;
    
  }

 
  
}
#contact{
  
 grid-column:-1;
  display: block;
  justify-items:  center;

  flex-direction: row-reverse;
  flex-basis: .4rem;
  //position: relative;
 // float: bottom;
 height: 1em;

  //padding:1em;
  //padding-left:30%;
  //grid-column: 1/4;
  

  svg {
  justify-items: flex-end ;

 width: 2.5rem;
margin: 1.5em;

}
   
    .fb{

      grid-column: 1;

      path{

      fill: map-get($colors,background-color);
          }
      }
    .twitter{

      grid-column: 2;

      path{

      fill: map-get($colors, background-color);

          }
      }
     
      .whatsapp{
            fill: map-get($colors, background-color);
      }
      .mail{
        fill: map-get($colors, background-color);
      }


}



    @media (min-width:600px){
      body{
   
    display: grid;
    
    grid-template-columns: 40vw 60vw;
   // grid-column-gap: 0;
    .fixed{
      grid-column: 1;
      position: fixed;
      width: 40vw;
      
      max-width: 100%;
      
    }
    .sections{
      
      grid-column: 2;
      display: grid;
      width: 60vw;
      max-width: 100%;
      max-height: 100vh;
      grid-template-rows: repeat(5 26rem);
      .sec1{
        grid-row:1;
       
        
        }
      .sec2{
        grid-row:2;
    }
    .sec3{
      grid-row:3;
  }
  .sec4{
    grid-row:4;
}
.sec5{
  grid-row:5;
}
      }
        }
                     }
@media(min-width:100px) and (max-width:600px) {
  body{
    display:flex;
    flex-direction: column;
    .fixed{
      display: block;
      position: unset;
      height: unset;
      width: 100vw;
      max-width:100% ;
    }
    .sections{
      display:flex;
      flex-direction: column;
      width: 100vw;
      max-width: 100%;
      img{
        display: block;
        
        width: 100vw;
       // max-width: 100%;
      }
    }
  }
}
